</script>
<script>
init();

function init(){
    // Obtener una referencia al botón por su ID
    //var boton = document.getElementById("miBoton");
    var itembarrasistema = document.getElementsByClassName('url-sistema');

    // Agregar un event listener al botón
    itembarrasistema.addEventListener("click", function() {
        // Esta función se ejecutará cuando se haga clic en el botón
        alert("¡Has hecho clic en el botón!");
    });
}
</script>



<script>
init();
function init(){
    // Obtener una lista de todos los enlaces por su clase
    var enlaces = document.querySelectorAll(".miEnlace");
    // Agregar un event listener a cada enlace
    enlaces.forEach(function(enlace) {
        enlace.addEventListener("click", function(event) {
            // Evitar el comportamiento predeterminado de navegación
            event.preventDefault();
            
            // Minimizar todos los iframes
            
            //var iframeMinimizado = document.getElementsByClassName("iframe-acitve");
            var iframeMinimizado = document.getElementsByTagName("iframe");
                for (var i = 0; i < iframeMinimizado.length; i++) {
                       iframeMinimizado[i].classList.remove("iframe-acitve");
            		iframeMinimizado[i].classList.add("iframe-minimeze");
    		}
	     

            

            
            // Maximizar el iframe que corresponda al data-target [node:nid]
                       
            var targetId = enlace.getAttribute("data-target");
            
	    var iframeObjetivo = document.getElementById(targetId);

            // Cambiar los atributos del div objetivo
            //iframeObjetivo.style.display = "block";
            iframeObjetivo.classList.remove("iframe-minimeze");
            iframeObjetivo.classList.add("iframe-acitve");

            
            // Cambiar todos los botones a minimizado (block-item-barra-minimize)
            enlaces.forEach(function(e) {
            	  if (e.classList.contains("block-item-barra-active")) {
  		  	e.classList.remove('block-item-barra-active');
                  	e.classList.add("block-item-barra-minimize");
  		  }

            });
            
            // Cambiar color del boton maximizado
            if (enlace.classList.contains("block-item-barra")) {
  		enlace.classList.remove('block-item-barra');
	    }
	    if (enlace.classList.contains("block-item-barra-minimize")) {
  		enlace.classList.remove('block-item-barra-minimize');
	    }
            enlace.classList.remove("block-item-barra");
            enlace.classList.add("block-item-barra-active");
            
            
            
            
            
            
            // Obtener el título del enlace haciendo referencia al atributo "title"
            var tituloEnlace = enlace.getAttribute("title");

            // Mostrar una alerta con el título del enlace
            alert("Título del enlace: " + tituloEnlace);
        });
    });
    

    
}

            function toggleBotonera() {
            var botonera = document.getElementById("block-views-block-sistemas-barra-block");
            if (botonera.style.width === "250px") {
                botonera.style.width = "0";
            } else {
                botonera.style.width = "250px";
            }
        }
                function cerrarBotonera() {
            var botonera = document.getElementById("miBotonera");
            botonera.style.width = "0";
        }
</script>
