.block-item-barra{
    color: #000000;
    font-weight: bold;
    display: table-cell;
    width: 150px;
    height: 25px;
    background: #b2ffb2;
    border: solid 1px #b2ffb200;
    box-shadow: 2px 2px #9b9b9b;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 15px;

}

.block-item-barra-active{
    color: white;
    font-weight: bold;
    display: table-cell;
    width: 150px;
    height: 25px;
    background: #ff9893;
    border: solid 1px #b2ffb200;
    box-shadow: 2px 2px #9b9b9b;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 15px;

}

.block-item-barra-minimize{
    color: white;
    font-weight: bold;
    display: table-cell;
    width: 150px;
    height: 25px;
    background: #ffde93;
    border: solid 1px #b2ffb200;
    box-shadow: 2px 2px #9b9b9b;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 15px;
}


.iframe-acitve{
display: block;

}

.iframe-minimeze{
display: none;

}

.botonera-principal{

            width: 0;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #333;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 110px;


}

.boton-ver-botonera{
    position: fixed;
    background: yellowgreen;
    top: 50%;

}


