<!-- 
Código para crear un boton de impresión de una página aparte de la que estamos visitando. 
-->

<!-- 
ANOTACIONES:
Para drupal existe un módulo que oculta la barra de administrador según tema, 
esto sirva para el el administrador tambien pueda ver el botón, sino en el iframe aparece la toolbar.

Nombre módulo: Toolbar Visibility
Link: https://www.drupal.org/project/toolbar_visibility
-->

<!--
Página anfitrion: en esta paágina es donde pondremos el boton IMPRIMIR.
Para esto agregamos un iframe. 
-->

<iframe src="[url_pagina_a_imprimir]?type=pdf" width="150" height="40" frameborder="0" scrolling="no"></iframe>

<!-- ?type= es la variable para ocultar el contenido de la página y mostrar solo el botón. -->

<!-- 
Página a imprimir: en esta pagina agregaremos el código javascript y 
las clases necesarias para imprimir y mostrar el boton en la página anfitrion.
-->
<style>
#boton-descargar-pdf{
display: none;
font-size: 14px;
border-radius: 6px;
background: #FFC107;
font-weight: bold;
color: black;
box-shadow: 2px 2px #9E9E9E;
cursor: pointer;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<button  type="button" onclick="downloadPDF()" id="boton-descargar-pdf">Descargar PDF</button>

<script>
window.jsPDF = window.jspdf.jsPDF;
var docPDF = new jsPDF();

function downloadPDF(invoiceNo){

    var elementHTML = document.querySelector("#contenido-imprimible");
    docPDF.html(elementHTML, {
        callback: function(docPDF) {
            docPDF.save("decreto.pdf");
        },
        x: 10,
        y: 0,
        margin: [0, 3, 3, 3],
        width: 170,
        windowWidth: 650
    });

}

// Obtener la URL actual
const urlParams = new URLSearchParams(window.location.search);

// Obtener el valor de la variable "type"
const type = urlParams.get('type');

// Verificar si se obtuvo el valor
if (type !== null) {
    console.log('El valor de "type" es:', type);
	if (type == 'pdf'){
		console.log('Es pdf!');
		// Obtener el elemento por su ID
		var botonpdf = document.getElementById("boton-descargar-pdf");
		var textoimprimible = document.getElementById("ocultar-pdf");
		// Cambiando su estilo
		botonpdf.style.display = "block";
		textoimprimible.style.display = "none";	
	} else {
		console.log('no es pdf');	
	}
} else {
	console.log('El valor de "type" es no esta');	
}
</script>


<!-- Esto lo pegamos al final de la página, pero aparte al contenido a -->
<!-- imprimir debemos agregarle dos "DIV". -->

<div id="ocultar-pdf">
    <div id="contenido-imprimible">
        <!-- CONTENIDO A IMPRIMIR -->
    </div>
</div>

